name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - graphql-codegen.*
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - graphql-codegen.*
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      # Create a branch without workflows,
      # because GITHUB_TOKEN does not have workflows permission.
      # https://github.com/int128/stale-branch-action/tree/ce4743423eadc59f029a71a5cb9e2a68f965386f
      - run: git fetch origin ce4743423eadc59f029a71a5cb9e2a68f965386f
      - run: git push origin -f 'ce4743423eadc59f029a71a5cb9e2a68f965386f:refs/heads/e2e-test-${{ github.run_id }}/fixture'
      - name: 'Run int128/stale-branch-action'
        id: stale-branch-action
        uses: ./
        with:
          expiration-days: 1
          ref-prefix: refs/heads/e2e-test-${{ github.run_id }}/
      - name: Test outputs.stale-refs
        run: echo '${{ steps.stale-branch-action.outputs.stale-refs }}' | grep 'refs/heads/e2e-test-${{ github.run_id }}/fixture'
      - if: always()
        continue-on-error: true
        run: git push origin --delete 'refs/heads/e2e-test-${{ github.run_id }}/fixture'

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - run: pnpm graphql-codegen
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2.67.0
