name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - action.yaml
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - action.yaml
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn test
      - run: yarn build
      - run: yarn package

      # Create a branch without workflows,
      # because GITHUB_TOKEN does not have workflows permission.
      # https://github.com/int128/stale-branch-action/tree/ce4743423eadc59f029a71a5cb9e2a68f965386f
      - run: git fetch origin ce4743423eadc59f029a71a5cb9e2a68f965386f
      - run: git push origin -f 'ce4743423eadc59f029a71a5cb9e2a68f965386f:refs/heads/e2e-test-${{ github.run_id }}/fixture'
      - name: 'Run int128/stale-branch-action'
        id: stale-branch-action
        uses: ./
        with:
          expiration-days: 1
          ref-prefix: refs/heads/e2e-test-${{ github.run_id }}/
      - name: Test outputs.stale-refs
        run: echo '${{ steps.stale-branch-action.outputs.stale-refs }}' | grep 'refs/heads/e2e-test-${{ github.run_id }}/fixture'
      - if: always()
        continue-on-error: true
        run: git push origin --delete 'refs/heads/e2e-test-${{ github.run_id }}/fixture'

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn lint --fix
      - run: yarn format
      - uses: int128/update-generated-files-action@c340c8e219a7159fc46417d34f4cb3ff6eac47ac # v2.40.0
